<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Kyle Sterling</h1>
    <p>A student with many aspirations within the field of computing.My primary interest are 
        within the area of cubersecurity and wen development. I'm looking forward to learning more
        as the semester progresses. I believe that I must spend my time at the university to attain 
        as much practice and theory as possible to prepare me for the world of.
    </p>
</body>